div {
    margin-left: auto;
    margin-right: auto;
}

.message-container{
    font-family: Bahnschrift SemiBold;
    font-size: 15px;
    color: #fefaec;
}

.text-message{
    width: 400px;
    height: 140px;
    background-color: #24242C;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}

/* Media query for mobile view */
@media (max-width: 768px) {

    .message-container {
        display: None;
    }

}
