.myheader {
    background-color: white;
    padding: 15px;
    height: 100px;

}

.main-logo {
    width: 100px;
    height: 100px;
    margin: 0px, 0px, 5px, 100px;
}

.main-title {
    font-family: Bahnschrift SemiBold;
    font-size: 50px;
    color: black;
}

.nav-links {
    float: right;
    text-align: center;
    padding: 25px 20px;
    font-family: Bahnschrift SemiBold;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.nav-links:hover {
    background-color: #E15638;
    color: black;
}