.myheader {
    display: flex;
    flex-direction:column;
    background-color: white;
    align-items: left;
    padding: 10px;

}

.logo-link {
    margin-bottom: 10px;
}

.main-logo {
    width: 100px;
    height: 100px;
}

.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
}

.nav-links a {
    text-align: center;
    padding: 10px;
    font-family: Bahnschrift SemiBold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}



/* Media query for larger screens */
@media (min-width: 768px) {
    .myheader {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-links a {
        padding: 25px 20px;
        font-size: 20px;
    }
}